.betterra-widget-select-title {
    text-align: center;
    margin-block: 1.5rem;
}

.card[data-custom-card] {
    .card-header .better-ra-icon {
        position: relative;
        width: 1.5rem;
        aspect-ratio: 1;
        background-image: url("chrome-extension://__MSG_@@extension_id__/assets/umpire.png");
        background-size: contain;
        cursor: pointer;

        &:hover::after {
            display: block;
        }

        &::after {
            content: "BetterRefAssist";
            position: absolute;
            top: 2rem;
            display: none;
            right: 0;
            width: 9rem;
            padding: 0.5rem 0;
            text-align: center;
            color: #fff;
            z-index: 999;
            background: #393939;
            border-radius: 0.3rem;
        }
    }

    .card-body.not-saved-error {
        display: none;
    }

    .card-body:not(.not-saved-error) {
        display: block;
    }

    .card-body .scroll-y {
        padding-bottom: 1.5rem;
    }
}

/**
Card widget for Available Forms.
 */
.card[data-custom-card="1"] {
    .card-body .has-new-forms a.text-hover-primary {
        position: relative;

        &::after {
            content: "NIEUW";
            position: absolute;
            right: -4.5rem;
            font-size: 0.8em;
            background: #3699ff;
            padding: 0.1rem 0.5rem;
            top: 50%;
            transform: translateY(-50%);
            color: #fafafa;
            border-radius: 0.2rem;
        }
    }
}

body[data-season-saved="false"] .card[data-custom-card] {
    .card-body.not-saved-error {
        display: block;
    }

    .card-body:not(.not-saved-error) {
        display: none;
    }
}